html,
body {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgb(49, 49, 49);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}